ClientProgram/bin/
ClientProgram/obj/
packages/
ServerProgram/.vs/
ServerProgram/bin/
ServerProgram/obj/
Interop/bin/
Interop/obj/
Tachyon-Client-IO/bin/
Tachyon-Client-IO/obj/
Tachyon-Client-RPC/bin/
Tachyon-Client-RPC/obj/
Tachyon-Common/bin/
Tachyon-Common/obj/
Tachyon-Server-Core/bin/
Tachyon-Server-Core/obj/
Tachyon-Server-IO/bin/
Tachyon-Server-IO/obj/
Tachyon-Server-RPC/bin/
Tachyon-Server-RPC/obj/
Tachyon-Server-Binder/bin/
Tachyon-Server-Binder/obj/
Tachyon-Unity/.vs/
Tachyon-Unity/.vscode/
Tachyon-Unity/Build/
Tachyon-Unity/Library/
Tachyon-Unity/obj/
Tachyon-Unity/Temp/
ClientProgram/Properties/
Tachyon-Unity/ProjectSettings/
.vs/
.idea/