packages/

ClientProgram/bin/
ClientProgram/obj/
ClientProgram/Properties/

HostProgram/.vs/
HostProgram/bin/
HostProgram/obj/

Interop/bin/
Interop/obj/

Tachyon-Client-IO/bin/
Tachyon-Client-IO/obj/
Tachyon-Client-RPC/bin/
Tachyon-Client-RPC/obj/
Binder/Tachyon-Client-Binder/bin/
Binder/Tachyon-Client-Binder/obj/

Tachyon-Common/bin/
Tachyon-Common/obj/

Tachyon-Host-Core/bin/
Tachyon-Host-Core/obj/
Tachyon-Host-IO/bin/
Tachyon-Host-IO/obj/
Tachyon-Host-RPC/bin/
Tachyon-Host-RPC/obj/
Binder/Tachyon-Host-Binder/bin/
Binder/Tachyon-Host-Binder/obj/

Tachyon-Unity/.vs/
Tachyon-Unity/.vscode/
Tachyon-Unity/Build/
Tachyon-Unity/Library/
Tachyon-Unity/obj/
Tachyon-Unity/Temp/
Tachyon-Unity/ProjectSettings/
Tachyon-Unity/Logs/

Binder/Tachyon-Binder/bin
Binder/Tachyon-Binder/obj

.vs/
.idea/

